{% extends 'dashboard/base.html' %}

{% block title %}Concerto{% endblock title %}
{% block name %}Concerts{% endblock name %}

{% block style %}
<style>
select {
    text-align-last:center;
}
.pageheader-title {
    align-self: center;
    margin-bottom: 0px;
}
</style>
{% endblock style %}

{% block scripts %}
{{super()}}

<script>
function showFeed(data) {
    var feed = $("#feed");
    feed.html("");
    for (let i = 0; i < data.length; i++) {
        let d = data[i];
        var row = $("<div>", {class: "row"});
        var col = $("<div>", {class: "col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"});
        var card = $("<div>", {class: "card thin-card-container "});
        var cardHeader = $("<div>", {class: "card-header thin-card"});
        var cardBody = $("<div>", {class: "card-body thin-card"});

        cardHeader.text(d.name);

        var openBtn = $('<button type="submit" class="btn btn-primary btn-sm">Remove</button>');
        openBtn.click(function() {
            dislike(d.id);
        });
        cardHeader.html("&nbsp;&nbsp;" + cardHeader.html());
        cardHeader.prepend(openBtn);

        card.append(cardHeader);
        col.append(card);
        row.append(col);
        feed.append(row);
    }
}

function init() {
    toastr.options = {
        "closeButton": false,
        "debug": false,
        "newestOnTop": false,
        "progressBar": false,
        "positionClass": "toast-bottom-center",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "3000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut",
        "escapeHtml": true
    };

    $.get("/carpool/get_likes", {
    }, function(data) {
        showFeed(JSON.parse(data));
    }).fail(function( jqXHR, textStatus, errorThrown ) {
        toastr.error(jqXHR.responseText);
    });
}

function dislike(concert_id) {
    $.post("/carpool/delete_like", {
        id: concert_id
    }, function(str) {
        toastr.success("Removed");
        window.location.href = "/likes";
    }).fail(function( jqXHR, textStatus, errorThrown ) {
        toastr.error(jqXHR.responseText);
    });
}

$(document).ready(init);
</script>
{% endblock scripts %}

{% block content %}
<div class="dashboard-wrapper">
    <div class="dashboard-ecommerce">
        <div class="container-fluid dashboard-content">
            <div id="feed"></div>
            <!-- ============================================================== -->
            <!-- end pageheader  -->
            <!-- ============================================================== -->
            
        </div>
    </div>
</div>
{% endblock content %}