{% extends 'dashboard/base.html' %}

{% block title %}Concerto{% endblock title %}
{% block name %}Concerts{% endblock name %}

{% block style %}
<style>
select {
    text-align-last:center;
}
.pageheader-title {
    align-self: center;
    margin-bottom: 0px;
}
</style>
{% endblock style %}

{% block scripts %}
{{super()}}

<script>
function search() {
    $.get("/search", {
        artist: $("#input-text").val()
    }, function(data) {
        showFeed(JSON.parse(data));
        toastr.success("Success");
    }).fail(function( jqXHR, textStatus, errorThrown ) {
        toastr.error(jqXHR.responseText);
    });
}

function create_carpool(concert_id) {
    $.get("/carpool/list", {
        id: concert_id
    }, function(str) {
        let data = JSON.parse(str);
        if (data.length == 0) {
            $.post("/carpool/create", {
                concert: concert_id,
                car_description: "Fill in car description",
                arrival_time: 0
            }, function(data) {
                toastr.success("Created carpool");
            }).fail(function( jqXHR, textStatus, errorThrown ) {
                toastr.error(jqXHR.responseText);
            });
        } else {
            $.post("/carpool/join", {
                id: data[0].id
            }, function(data) {
                toastr.success("Joined carpool");
            }).fail(function( jqXHR, textStatus, errorThrown ) {
                toastr.error(jqXHR.responseText);
            });
        }
    }).fail(function( jqXHR, textStatus, errorThrown ) {
        toastr.error(jqXHR.responseText);
    });
}

function showFeed(data) {
    var feed = $("#feed");
    feed.html("");
    for (let i = 0; i < data.length; i++) {
        let d = data[i];
        var row = $("<div>", {class: "row"});
        var col = $("<div>", {class: "col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"});
        var card = $("<div>", {class: "card thin-card-container"});
        var cardHeader = $("<div>", {class: "card-header thin-card"});
        var cardBody = $("<div>", {class: "card-body thin-card"});

        cardHeader.text(d.name);
        cardBody.text(d.genre + ", " + d.venue + ", " + d.location);

        var carpoolBtn = $('<button type="submit" class="btn btn-secondary btn-sm">Carpool</button>');
        carpoolBtn.click(function() {
            create_carpool(d.id);
        });
        cardBody.html("&nbsp;&nbsp;" + cardBody.html());
        cardBody.prepend(carpoolBtn);

        card.append(cardHeader);
        card.append(cardBody);
        col.append(card);
        row.append(col);
        feed.append(row);
    }
}

function init() {
    toastr.options = {
        "closeButton": false,
        "debug": false,
        "newestOnTop": false,
        "progressBar": false,
        "positionClass": "toast-bottom-center",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "3000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut",
        "escapeHtml": true
    };
}

$(document).ready(init);
</script>
{% endblock scripts %}

{% block content %}
<div class="dashboard-wrapper">
    <div class="dashboard-ecommerce">
        <div class="container-fluid dashboard-content">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="card thin-card-container" style="margin-bottom: 10px">
                        <h5 class="card-header thin-card">Concert Lookup</h5>
                        <div class="card-body thin-card">
                            <form onsubmit="search(); return false;">
                                <div class="form-group" style="margin-bottom: 0px">
                                    <label>Concert Name</label>
                                    <input type="text" class="form-control" id="input-text">
                                    <div style="height:10px"></div>
                                    <button type="submit" class="btn btn-primary btn-lg btn-block">Search</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div id="feed"></div>
            <!-- ============================================================== -->
            <!-- end pageheader  -->
            <!-- ============================================================== -->
            
        </div>
    </div>
</div>
{% endblock content %}